.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.input-intentions {
  height: 100px;
}

.input-signup, .input-intentions {
  margin: 10px;
}

.signup-btn {
  max-width: 25vh;
  height: auto;
  margin: 3vw;
}