.seed-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #63A958;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  background-color: rgba(3, 206, 36, 0.3);
  z-index: -1;
  width: 300px;
  margin: auto;
  margin-top: 5%;
}

.input-seeds {
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  z-index: 2;
}

.signup-btn {
  max-width: 25vh;
  height: auto;
  margin: 3vw;
  text-decoration: none;
}

.form-header {
  font-family: 'Paytone One', sans-serif;
}
