
.input-date {
  font-size: 20px
}

.input-description {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
  font-size: 18px;
  width: 70%;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: center;
  justify-content: space-around;
  position: relative;

  }

  @media screen and (min-width: 768px) {
    .main-journal-div {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .journal-index {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid blue;
      margin: 0;
      padding: 0;
    }

  }
