.journal-container {
  display: flex;
  justify-content: center;
}

.all-journal-cards {
  display: flex;
  justify-content: center;

}

.journal-card {
  color: #63A958;
  background-color: #fff7d0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  font-size: 12px;
  width: 400px;
  height: 16em;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin: 3%;
  justify-content: space-between;
}

.journal-text {
  margin: 5%;
  height: 75%;
}

.date-text {
  font-size: 16px;
  margin: 5% 3% 0 auto;
}
button {
  width: 200px;
  height: 35px;
  color: black;
  font-size: 18px;
  border-radius: 10px;
}
