.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.top-home-bar {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 2% 3% 0 3%;
  width: 30%;

}

.links {
  color: black;
}

.home-line {
  width: 93%;
  margin: 2% 3% 2% 3%;
  border-top: 1px solid rgba(96, 96, 96, 0.379);
  border-bottom: 1px solid rgba(96, 96, 96, 0.379);
}

.small-logo {
  height: 8vh;
  border: 1px solid black;
  margin: 1% 3% 0 3%;
}

.main-title {
  height: 55vh;
  width: 100%;
}

.big-logo {
  width: 80%;
  margin-left: 5%;
}

.bottom-home {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.mission {
  width: 40%;
  height: 20%;
  margin: 0% 3% 2% 3%;
  border-bottom: 1px solid rgba(96, 96, 96, 0.379);
}

.mission-quote, .mission-author {
  margin: 10px;
  color:rgba(63, 132, 93)
}

@media screen and (min-width: 768px) {
  .home-links {
    width: 12%;
  }

  .mission {
    width: 30vw;
  }

  .big-logo {
    width: 70%;
  }
  .main-title {
    height: 40%;
  }
  .circle-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .circle-1 {
    /* background-color: #00b4d8;
    background-color: #43aa8b; */
    background-color: #119da4;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .circle-2 {
    /* background-color: #023e8a; */
    /* background-color: #0f4c5c; */
    background-color: #065a60;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .circle-3 {
    /* background-color: #6d597a; */
    background-color: #4b3f72;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

}
