.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.top-home-bar {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.home-links {
  display: flex;
  align-items: flex-end;
}

.links {
  margin: 7px;
  color: black;
}

.home-line{
  width: 93vw;
  margin: 3px;
  border-top: 1px solid rgba(96, 96, 96, 0.379);
  border-bottom: 1px solid rgba(96, 96, 96, 0.379);
}

.small-logo {
  height: 8vh;
  border: 1px solid black;
  margin: 5px;
}

.main-title {
  height: 55vh;
  width: 100vw;
}

.big-logo {
  width: 70vw;
}

.bottom-home {
  height: 35vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.mission {
  width: 30vw;
  height: 18vh;
  margin-top: 15px;
  border-bottom: 1px solid rgba(96, 96, 96, 0.379);
}

.mission-quote, .mission-author {
  margin: 10px;
  color:rgba(63, 132, 93)
}