.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seed-logo {
  height: 40vh;
  max-width: 70vw;

}

.home-logo {
  height: 15vh;
  max-width: 75vw;
  margin: 5vh;
}

.options-container {
  display: flex;
  max-width: 70vw;
}

.menu-btn {
  height: 12vh;
  max-width: 25vw;
  margin: 3vw;
}

.menu-btn:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}