.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
}

.single-plant {
  height: 20vh;

}

.select-name {
  color: white;
  font-size: 4vh;
}

.user-list {
  font-size: 3vh;
  margin-top: 4vh;
}

.new-user-prompt {
  color: white;
  margin: 1vh;
}

.menu-btn-login {
  max-width: 25vh;
  height: auto;
  margin: 3vw;
}