.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  color: #63A958;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  background-color: rgba(3, 206, 36, 0.3);
  margin: 40% auto;
}

.single-plant {
  height: 20vh;
  margin-top: 5%;
}

.select-name {
  color: white;
  font-size: 4vh;
  text-align: center;
  margin-top: 3%;
}

.user-list {
  font-size: 3vh;
  margin-top: 4vh;
  width: 80%;
  border: none;
}

.new-user-prompt {
  color: white;
  margin: 1vh;
}

.menu-btn-login {
  max-width: 25vh;
  height: auto;
  margin: 3vw;
}
@media screen and (min-width: 768px) {
  .login-container {
    width: 50%;
    height: 30%;
    color: #63A958;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
    background-color: rgba(3, 206, 36, 0.3);
    margin: 5% auto;
  }
}
